.base-button {
  border: 0;
  height: 60px;
  padding: 19px 30px;
  font-size: 18px;
  font-weight: 500;
  background: var(--blue);
  border: 2px solid var(--blue);
  border-radius: 10px;
  font-family: inherit;
  line-height: 1;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  &--clear {
    @extend .base-button;
    background: transparent;
    padding: 0;
    color: var(--text-black);
    border: 0;
  }

  &--light {
    @extend .base-button;
    background: var(--blue-light);
  }

  &.full {
    width: 100%;
  }
}
